---
import { useTranslation } from '@i18n/useTranslation';
import LanguageSelect from './LanguageSelect.astro';
import type { LocaleCode } from '@i18n/utils';
import { NAV_CONFIG } from '@config/navigation';

interface Props {
  locale?: LocaleCode;
}

const { locale = 'en' } = Astro.props;
const t = useTranslation(locale);

const basePath = [import.meta.env.BASE_URL, locale].join('/');
const currRelPath = Astro.url.pathname.split('/').slice(3).join('/');
const navItems = NAV_CONFIG.map(({ labelKey, path }) => ({
  label: t(labelKey),
  href: [basePath, path].join('/'),
  isActive: currRelPath && currRelPath === path,
}));
---

<header class="sticky top-0 backdrop-blur bg-transparent text-gray-200">
  <nav class="flex gap-2 items-center justify-between px-9 py-5">
    <div class="justify-self-start text-lg font-semibold">
      WYVERIAN | MH<span
        class="bg-gradient-to-tr from-purple-600 via-purple-400 to-white text-transparent bg-clip-text font-black"
        style="background-size: 100%;">NOW</span
      >
    </div>
    <ul class="flex gap-4 items-center">
      {
        navItems.map(({ label, href, isActive }) => (
          <li
            class:list={{
              'hover:border-b-4 hover:border-purple-600 hover:text-slate-400': !isActive,
              'text-purple-500': isActive,
            }}
          >
            <a href={href} set:text={label} />
          </li>
        ))
      }
    </ul>
    <div class="flex gap-4 items-center">
      <LanguageSelect />
    </div>
  </nav>
</header>
