---
import { ViewTransitions } from 'astro:transitions';

// Supports weights 100-900
import '@fontsource-variable/overpass';
// Supports weights 100-800
import '@fontsource-variable/jetbrains-mono';

import Header from '@components/Header.astro';
import type { LocaleCode } from '@i18n/utils';

interface Props {
  title: string;
  locale?: LocaleCode;
}

const { title, locale = 'en' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header locale={locale} />
    <div class="mx-8 md:mx-20 lg:mx-80 text-white">
      <slot />
    </div>
  </body>
</html>


<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: 'Overpass Variable', sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  table {
    font-family: 'Jetbrains Mono Variable', sans-serif;
    @apply border-separate px-1 rounded-md border border-slate-800
  }
</style>
